.editor {
  border: 1px solid #cacecb;
  border-radius: 8px;

  font-family: "ForrestRegular", serif;
  font-size: 16px;
  line-height: 1.4;
}

.display {
  font-family: "ForrestRegular", serif;
  font-size: 16px;
  line-height: 1.4;
}

.content {
  font-family: "ForrestRegular", serif;
}

.content strong,
.display strong {
  font-family: "ForrestBold", serif;
}

.content em,
.display em {
  font-family: "ForrestItalic", serif;
}
